*.html
*.gz
*.txt
*.tbi
*.fai
*.gzi
*.csi
*.bam
*.bai
*.bz2
*.xls
*.xlsx
*.stats
*.pdf
*.jpg
*.swp
*.png
*.webp
*.id_map
.nfs.*
*~
MANIFEST.*

## ignore stuff that probably shouldn't be here
BUSCO_genome_fabales_odb10
BUSCO_proteins_fabales_odb10
# but allow busco summary files:
!BUSCO/*short_summary*

